@media all and ( min-width: 727px) and (max-width: 1095px ) {

	
			header nav {
				width:80%;
				height:100%;
				left:-100%;
				margin:0;
				position: absolute;
				z-index: 16;
				ul{
					background-color: rgb(2, 73, 89);
					color: #fff;
				}

				ul li {
				display:block;
				float:none;
				background-color: rgb(2, 73, 89);
				padding-top: 20px;
				padding-bottom: 20px;
				

			}
				.a-nav{
				color: #fff;
				text-decoration: none;
				}
				.span-nav{
					color: #fff;
				}
			
			}

			

		.menu_bar {
				display: block;
				width: 100%;
				background: #ccc;
				
			}
		 
		.menu_bar .bt-menu {
				display: block;
				padding: 20px;
				background: #024959;
				color: #fff;
				text-decoration:none;
				font-weight: bold;
				font-size:25px;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				
			}
		 
		.menu_bar .span-nav {
				float:right;
				font-size:40px;

			}
		.icon-menu{
				display: block;
				position: absolute;
				left: 93%;
			}

		.menu{
			display: none;
		}
		.menuRespLogo{
			width: 85%;
			display: inline;
			position: absolute;
			top: 358px;
  			left: 13%;
		}

		#small-slider {
		  overflow: hidden
		}

			// portfolio section

			div.ang-div-top{
			  	display: none;

			  
			}
			div.ang-div-botton{
				display: none;
			}

		.history{
			-webkit-column-count: 3;
		    -moz-column-count: 3;
		    column-count: 3;
		    font-size: 12px;
		    color: #fff;
		    width: 90%;
		    height: 50%;
		    margin: 0 auto;
		    
		    padding: 15px 15px;
		    float: left;
			
		}

			iframe{
				width: 48%;
				position: absolute;
				left: 52%;
		 		top: 2447px;
				}



}




@media all and (min-width: 552px) and ( max-width: 726px ) {
			
			header nav {
				width:80%;
				height:100%;
				left:-100%;
				margin:0;
				position: absolute;
				z-index: 16;
				ul{
					background-color: rgb(2, 73, 89);
					color: #fff;
				}

				ul li {
				display:block;
				float:none;
				background-color: rgb(2, 73, 89);
				padding-top: 20px;
				padding-bottom: 20px;
				

			}
				.a-nav{
				color: #fff;
				text-decoration: none;
				}
				.span-nav{
					color: #fff;
				}
			
			}

			

		.menu_bar {
				display: block;
				width: 100%;
				background: #ccc;
				
			}
		 
		.menu_bar .bt-menu {
				display: block;
				padding: 20px;
				background: #024959;
				color: #fff;
				text-decoration:none;
				font-weight: bold;
				font-size:25px;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				
			}

	
		.menu_bar .span-nav {
				float:right;
				font-size:40px;

			}
		.icon-menu{
				display: block;
				position: absolute;
				left: 93%;
			}


		

		// #section{
		// 		width: 100%;
		// 		height: auto;
		// }
		

	.welcome{
		 color: #fff;
		 font-size: 200%;
		 font-family: 'Montserrat', sans-serif;
		 text-shadow: 4px 6px 9px rgba(0, 0, 0, 1);
		 position: absolute;
		 top: 75px;
		 left: 13%;

		}
		#slider{
			width: 100%;
			height: auto;
		}

		#small-slider{
		  
		  margin: 35px auto;
		  position: relative;
		  
		  left: 35%;
		  top: 16%;
		  border-radius: 149px;
		  box-shadow: 0 0 20px white;
		}

		.menu{
			display: none;
		}

		.menuRespLogo{
			width: 85%;
			display: inline;
			position: absolute;
			top: 207px;
  			left: 9%;
		}
	

			// portfolio section

		div.ang-div-top{
			  	display: none;

			  
			}
		div.ang-div-botton{
				display: none;
			}

		img.grayscale{
				  width: 209px;
			}
		.history{	
		 -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	    font-size: 12px;
	    color: #fff;
	    width: 90%;
	    height: 49%;
	    margin: 0 auto;
	    /* margin-left: 3%; */
	    padding: 15px 15px;
   		 float: left;
		  
		}

		// map 

	iframe{
		width: 100%;
		height: auto;
		position: absolute;
		left: 0%;
		top: 3009px;
		}


}

 
	@media all and (min-width: 350px) and ( max-width: 550px ) {

		header nav {
				width:80%;
				height:100%;
				left:-100%;
				margin:0;
				position: absolute;
				z-index: 16;
				ul{
					background-color: rgb(2, 73, 89);
					color: #fff;
				}

				ul li {
				display:block;
				float:none;
				background-color: rgb(2, 73, 89);
				padding-top: 20px;
				padding-bottom: 20px;
				

			}
				.a-nav{
				color: #fff;
				text-decoration: none;
				}
				.span-nav{
					color: #fff;
				}
			
			}

			

		.menu_bar {
				display: block;
				width: 100%;
				background: #ccc;
				
			}
		 
		.menu_bar .bt-menu {
				display: block;
				padding: 20px;
				background: #024959;
				color: #fff;
				text-decoration:none;
				font-weight: bold;
				font-size:25px;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				
			}
		 
		.menu_bar .span-nav {
				float:right;
				font-size:40px;

			}
		.icon-menu{
				display: block;
				position: absolute;
				left: 93%;
			}

		.main-slider{
			height: 323px;

	
			}
		.menuRespLogo{
			width: 85%;
			display: inline;
			position: absolute;
			top: 169px;
  			left: 13%;
		}
		 
		.menu{
			display: none;
		}

			// portfolio section

			div.ang-div-top{
			  	display: none;

			  
			}
			div.ang-div-botton{
				display: none;
			}


			// about me section

			// small slider

			#small-slider {
			 
			  margin: 35px auto;
			  position: relative;
			  
			  
			  left: 2%;
			  top: 43%;
			  border-radius: 149px;
			  box-shadow: 0 0 20px white;
			}
			#small-slider > div {
			  position: absolute;
			  top: 30px;
			  left: 37px;

			}

		.welcome{
		 color: #fff;
		 font-size: 200%;
		 font-family: 'Montserrat', sans-serif;
		 text-shadow: 4px 6px 9px rgba(0, 0, 0, 1);
		 position: absolute;
		 top: 75px;
		 left: 13%;

		}
			img.grayscale{
				  width: 209px;
			}

		.history{
		  -webkit-column-count: 3;
		    -moz-column-count: 3;
		    column-count: 3;
		    font-size: 12px;
		    color: #fff;
		    width: 90%;
		    height: 49%;
		    margin: 0 auto;
		    /* margin-left: 3%; */
		    padding: 15px 15px;
		    float: left;
				 
		}

// form section


		section iframe{
		width: 81%;
		height: auto;
		position: absolute;
		left: 10%;
		top: 2591px;
		}
	
	.button-send{
		  background-color: #186de2;
		  color: white;
		  font-size: 25px;
		  font-weight: italic;
		  width: 350px;
		  height: 45px;
		  margin-top: 45px;
		  margin-left: 4px;
		  border: 0;
		  box-shadow: 0 2px 2px #08006c;
		}



}